################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MediaMonitoring/bin
/MediaMonitoring/Migrations
/MediaMonitoring/obj
/Publish
*.zip
/MediaMonitoring/Properties
