
@{
    ViewData["Title"] = "Outdoor";
}

<!--------- Monitor Advert Section     ---------------------->
<div class="container-fluid row p-default monitor">
    <div class="col-sm-12 col-lg-6 col-md-6 Monitor-left" data-aos="fade-up" data-aos-duration="2000">
        <h4 class="montserrat mt-4">
            <b>
                Monitor Outdoor Adverts Like Never Before
            </b>
        </h4>
        <p class="text-default mt-3">
            Query advert boards to get information about the boards, as per location, population density, condition of the board and more.
        </p>
        <a asp-controller="Outdoor" asp-action="Index" class="btn btn-danger mt-4 p-2" roll=button><b>Login</b><i class="fas fa-arrow-right ml-4"></i></a>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6" data-aos="fade-down" data-aos-duration="2000">
        <img src="~/img/outdoor/graph.png" style="width: 100%; height: 100%;">
    </div>
</div>
<!--------- CALENDER SECTION-------------->
<div class="container-fluid row p-calender">
    <div class="col-lg-4 col-md-4 col-sm-12 p-4" data-aos="fade-up" data-aos-duration="2000">
        <img class="calendar" src="~/img/svg/calendar.svg">
        <h4 class="text-center montserrat mt-4">
            <b>
                Real-Time Monitoring
            </b>
        </h4>
        <p class="text-center text-default mt-3">Leverage on the real-time information thanks to on-line and off-line system that enables real time monitoring and play-back function.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 p-4" data-aos="fade-down" data-aos-duration="2500">
        <img class="calendar" src="~/img/outdoor/Flat.svg">
        <h4 class="text-center montserrat mt-4">
            <b>
                Competitor Insights
            </b>
        </h4>
        <p class="text-center text-default mt-3">Query competitor billboards for different criterias to help guide your advert decisions.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 p-4" data-aos="fade-up" data-aos-duration="3000">
        <img class="calendar" src="~/img/svg/Vdomaketing.svg">
        <h4 class="text-center montserrat mt-4">
            <b>
                Billboard Monitoring
            </b>
        </h4>
        <p class="text-center text-default mt-3">Media Monitoring Services provides detailed reporting that shows current condition of your billboards and their performance.</p>
    </div>
</div>

<!--------- Monitor Advert Section     ---------------------->
<div class="container-fluid row p-default monitor my-4">
    <div class="col-sm-12 col-lg-6 col-md-6" data-aos="fade-down" data-aos-duration="2000">
        <h4 class="montserrat mt-4">
            Real-Time Outdoor Campaign Monitoring Service
        </h4>
        <p class="roboto mt-3">
            The Outdoor Portal or OOH Portal is part of the mmsbip domain, which focuses on display of billboards on google map, as a representative of adverts placed on billboards on every state of the nation.
            <br>An equipped research tool, our outdoor portal allows you query the boards to get information about the boards, as per location, population density, condition of the board etc.
        </p>
        <p class="roboto mt-4"><i class="far fa-check-square mr-2"></i>Personal & Competitor Campaign Queries</p>
        <p class="roboto mt-4"><i class="far fa-check-square mr-2"></i>Personal & Competitor Queries</p>
        <p class="roboto mt-4"><i class="far fa-check-square mr-2"></i>Live Billboard View & Reports</p>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="2000">
        <img src="~/img/outdoor/maps.png" style="width: 100%;">
    </div>
</div>

<!------------Brands section---------------->
<div class="container-fluid bg-default2 padding-brand" data-aos="fade-up" data-aos-duration="2000">
    <h4 class="text-center montserrat text-default">Trusted By Global brands</h4>
    <p class="text-center roboto">As trail blazers in the industry, our credibility, integrity and professionalism have been tested and proven over the years. This has seen us build trust with multinational companies and governmental agencies who trust us with their advert monitoring needs.</p>
    <div class="brand-img-main">
        <div class="text-center">
            <img class="brand-img" src="~/img/brand/MTN Logo.png" style="width: 72px; height: 72px;">
            <img class="brand-img" src="~/img/brand/pepsi.png" style="width: 188px; height: 72px;">
            <img class="brand-img" src="~/img/brand/glaxosmithkline-logo.png" style="width: 186px; height: 139px;">
            <img class="brand-img" src="~/img/brand/frieslandcampina_logo.png" style="width: 172px; height: 72px;">
            <img class="brand-img" src="~/img/brand/Olam_logo.png" style="width: 236px; height: 72px;">
            <img class="brand-img" src="~/img/brand/nestleLogo.png" style="width: 186px; height: 72px;">
            <img class="brand-img" src="~/img/brand/unilever.png" style="width: 150px; height: 72px;">
            <img class="brand-img" src="~/img/brand/Cabury.png" style="width: 169px; height: 72px;">
        </div>
    </div>
</div>
<!----Media quote section---->
<div class="container-fluid row m-qoute-section" data-aos="fade-down" data-aos-duration="2000">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <img class="prince" src="~/img/advertising/prince.png">
        <img class="leon" src="~/img/advertising/leon.png">
        <img class="etty" src="~/img/advertising/etty.png">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 p-qoute-right-section" data-aos="fade-up" data-aos-duration="2000">
        <p class="mt-3 pb-4 roboto">"Media Monitoring Service has helped me better perform my role within the company. Giving us concise advert reports, we have been able to better channel our ad resources to more fruitful channels. I strongly recommend Media Monitoring Service." </p>
        <h4 class="text-right montserrat"><b>Weyinmi Adebanjo</b></h4>
        <h5 class="text-right montserrat">MTN</h5>
    </div>

</div>

<!-----Section----->
<div class="container-fluid row p-default3" data-aos="fade-up" data-aos-duration="2000">
    <div class="col-lg-8 col-md-8 col-sm-12 bg-default2 padding-section">
        <h4 class="montserrat">Enjoy Deeper understanding of your advert performance</h4>
        <p class="roboto">Get in touch with us and our representative will be in touch with you to understand your needs and have your dashboard ready for maximum efficiency.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 bg-default2 padding-section">
        <a asp-controller="Home" asp-action="Contact" class="btn btn-danger" roll=button>Contact Us <i class="fas fa-arrow-right"></i></a>
    </div>
</div>
